.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  /* Высота строки 25px, размер шрифта 18px, начертание шрифта нормальное */
  font-style: normal;
  line-height: 25px;
  font-size: 18px;
}
