.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: 80%;
  transition: transform 1s;
}
